.cart-row img{
    width:100px;
    height:100px;
    margin-top:10px;
}
.cart-row{
    padding:10px;
    margin-bottom:10px;
}
.cart-col{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height:240px;
}
.remove-icon{
    position: absolute;
    top: 6px;
    right: 17px;
}
